<div class='container'>
  <h1>title</h1>
  <div id='myPaymentForm'>
    <div class='kr-embedded'>
      <div class='kr-pan'></div>
      <div class='kr-expiry'></div>
      <div class='kr-security-code'></div>
      <div class='kr-form-error'></div>
      <button class='kr-payment-button'></button>
    </div>
  </div>
  <p data-test='payment-message'>{{this.message}}</p>
</div>

<style>
  .container{ display: flex; flex-direction: column; justify-content: center;
  align-items: center; }
</style>