<div class='container'>
  <h1>Ember Example</h1>
  <div id='myPaymentForm'>
    <div class='kr-smart-form'></div>
  </div>
  <p data-test='payment-message'>{{this.message}}</p>
</div>

<style>
  .container{ display: flex; flex-direction: column; justify-content: center;
  align-items: center; }
</style>