<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Glue testing view</title>

    <!-- theme and plugins. should be loaded in the HEAD section -->
    <link
      rel="stylesheet"
      href="https://api.lyra.com/static/js/krypton-client/V4.0/ext/neon-reset.css"
    />
    <script src="https://api.lyra.com/static/js/krypton-client/V4.0/ext/neon.js"></script>

    <!-- the component we want to test -->
    <script src="/dist/js/kr-payment-form-glue.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', event => {
        function insertMyForm(KR) {
          return new Promise((resolve, reject) => {
            let myForm = `
                <!-- payment form -->
                    <div class="kr-embedded">
                      <!-- payment form fields -->
                      
                      <div class="kr-expiry"></div>
                      <div class="kr-security-code"></div>
  
                      <!-- pan at the end -->
                      <div class="kr-pan"></div>
  
                      <!-- error zone  on top of the submit button -->
                      <div class="kr-form-error"></div>
  
                      <!-- payment form submit button -->
                      <button class="kr-payment-button">PAY</button>
                    </div>
                `
            document.getElementById('myPaymentForm').innerHTML = myForm
            resolve({ KR: KR })
          })
        }

        const publicKey =
          '69876357:testpublickey_DEMOPUBLICKEY95me92597fd28tGD4r5'

        KRGlue.loadLibrary('https://api.lyra.com', publicKey)
          .then(({ KR }) => insertMyForm(KR))
          .then(({ KR }) =>
            KR.setFormConfig({
              formToken: 'DEMO-TOKEN-TO-BE-REPLACED',
              language: 'en-EN'
            })
          )
          .then(({ KR }) => KR.attachForm('#myPaymentForm'))
          .then(({ KR, result }) => KR.showForm(result.formId))
          .then(() => {
            KR.onFormReady(() => {
              let el = document.createElement('div')
              el.id = 'test-ready'
              document.body.appendChild(el)
            })
          })
      })
    </script>
  </head>
  <body>
    <div id="myPaymentForm">
      <div class="kr-embedded"></div>
    </div>
  </body>
</html>
