<!DOCTYPE html>
<html lang="es" xml:lang="es">
  <head>
    <title>test me!</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />
  </head>
  <body style="padding-top:20px;">
    <div class="w3-container">
      <h2>embedded-form-glue tests</h2>

      <table class="w3-table w3-striped w3-border">
        <tr>
          <th>Test</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>
            <a href="/tests/views/addFormMinimal.html">addFormMinimal.html</a>
          </td>
          <td>minimal addForm test</td>
        </tr>
        <tr>
          <td>
            <a href="/tests/views/attachFormMinimal.html"
              >attachFormMinimal.html</a
            >
          </td>
          <td>minimal attachForm test</td>
        </tr>
        <tr>
          <td>
            <a href="/tests/views/addFormReload.html">addFormReload.html</a>
          </td>
          <td>addForm reload test</td>
        </tr>
        <tr>
          <td>
            <a href="/tests/views/addFormInvalid.html">addFormInvalid.html</a>
          </td>
          <td>addForm with invalid params test</td>
        </tr>
      </table>
    </div>
  </body>
</html>
