<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Glue testing view</title>

    <!-- theme and plugins. should be loaded in the HEAD section -->
    <link
      rel="stylesheet"
      href="https://api.lyra.com/static/js/krypton-client/V4.0/ext/classic-reset.css"
    />
    <script src="https://api.lyra.com/static/js/krypton-client/V4.0/ext/classic.js"></script>

    <!-- the component we want to test -->
    <script src="/dist/js/kr-payment-form-glue.min.js"></script>

    <script>
        const publicKey = "69876357:testpublickey_DEMOPUBLICKEY95me92597fd28tGD4r5";
        document.addEventListener("DOMContentLoaded", () => KRGlue.loadLibrary("https://api.lyra.com", publicKey));
        document.addEventListener("DOMContentLoaded", () => KRGlue.loadLibrary("https://api.lyra.com", publicKey));
    </script>
  </head>
  <body>
    <div id="myPaymentForm"></div>
  </body>
</html>
