<div class="hello">
    <div class="container">
        <div id="myPaymentForm">
            <div class="kr-embedded">
                <div class="kr-pan"></div>
                <div class="kr-expiry"></div>
                <div class="kr-security-code"></div>
                <div class="kr-form-error"></div>
                <button class="kr-payment-button"></button>
            </div>
        </div>
    </div>
    <p>{{this.message}}</p>
</div>